:root {
  --primaryDarkColor: #116466;
  --primaryColor: #009688;
  --accentDarkColor: #ac6f39;
  --accentColor: #cc9666;
}

@font-face {
  font-family: "IRANSans";
  src: url("../res/assets/fonts/IRANSans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "IRANSansBold";
  src: url("../res/assets/fonts/IRANSans_Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.big_ptxt {
  font-family: "IRANSans";
  font-size: 2.5em;
  padding: 5;
  margin: 1;
}
.ptxt {
  font-family: "IRANSans";
  font-size: 1.1em;
  padding: 5;
  margin: 5;
}

.bold{
  font-family: "IRANSansBold";
}

.small_ptxt {
  font-family: "IRANSans";
  font-size: 1em;
  padding: 5;
  margin: 5;
}

.primary_dark {
  color: var(--primaryDarkColor);
}

.primary {
  color: var(--primaryColor);
}

.accent_dark {
  color: var(--accentDarkColor);
}

.accent {
  color: var(--accentColor);
}

a.accent:hover {
  color: var(--accentDarkColor);
}

button.primary_btn {
  color: white !important;
  width: 100%;
  min-height: 45px !important;
  background: var(--primaryColor) !important;
  font-family: "IRANSans";
  font-size: 1.4em !important ;
  border-style: hidden !important;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 10px !important;
  box-shadow: 1px 1px 20px 0px #999999 !important;
  -webkit-box-shadow: 1px 1px 20px 0px #999999 !important;
  -moz-box-shadow: 1px 1px 20px 0px #999999 !important;
  text-shadow: 1px 1px 20px #999999 !important;
  cursor: pointer;
  
}

button.primary_btn:hover {
  color: white !important;
  background: var(--primaryDarkColor) !important;
  font-family: "IRANSans";
  font-size: 1.3 em;
}

button.accent_btn {
  color: white !important;
  width: 100%;
  min-height: 45px !important;
  background: var(--accentColor) !important;
  font-family: "IRANSans";
  font-size: 1.3em !important ;
  border-style: hidden !important;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 10px !important;
  box-shadow: 1px 1px 20px 0px #999999 !important;
  -webkit-box-shadow: 1px 1px 20px 0px #999999 !important;
  -moz-box-shadow: 1px 1px 20px 0px #999999 !important;
  text-shadow: 1px 1px 20px #999999 !important;
  cursor: pointer;
  
}

button.accent_btn:hover {
  color: white !important;
  background: var(--accentDarkColor) !important;
  font-family: "IRANSans";
  font-size: 1.3 em;
}