
:root {
  --primaryDarkColor: #116466;
  --primaryColor: #009688;
  --accentDarkColor: #ac6f39;
  --accentColor: #cc9666;
}

@font-face {
  font-family: 'IRANSans';
  src: url("../res/assets/fonts/IRANSans.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

.big_ptxt {
  font-family: 'IRANSans';
  font-size: 3em;
  padding: 5;
  margin: 5;
}
.ptxt {
  font-family: 'IRANSans';
  font-size: 1.1em;
  padding: 5;
  margin: 5;
}

.small_ptxt {
  font-family: 'IRANSans';
  font-size: 1em;
  padding: 5;
  margin: 5;
}

.primary_dark {
  color:var(--primaryDarkColor);
}

.primary {
  color:var(--primaryColor);
}

.accent_dark {
  color:var(--accentDarkColor);
}

.accent {
  color: var(--accentColor);
}

.primary_btn {
  background: var(--primaryColor);
}

.accent_btn {
  background: var(--accentColor);
}
