.app-header {
  text-align: center;
  background: white;
}

.container{
    background: white
}
.app-title {
    display: inline;
    margin: auto;
    margin-left: 10%;
}

.app-title a {
  text-decoration: none;
  line-height: 64px;
  font-size: 21px;
}

.app-title a:hover {
  text-decoration: none;
}

.logout_link{
    float: left;
}

.app-menu {
  float: right;
}

.app-menu > li {
  padding: 0 20px;
}

.app-menu > li > a {
  padding: 0 20px;
  margin: 0 -20px;
}

.app-menu > li > a > i {
  margin-right: 0 !important;
}
